<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="姓名" prop="name">
            <el-input v-model="searchform.name" placeholder="请输入姓名" class="handle-input"></el-input>
          </el-form-item>
          <el-form-item label="班级" prop="classId">
            <el-select v-model="searchform.classId" filterable placeholder="选择班级" class="handle-input">
              <el-option
                :key="index"
                :label="item.name"
                :value="item.id"
                v-for="(item, index) in classListDataSearch"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-button type="primary" icon="search" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
          <el-button type="primary" icon="search" @click="handleExport">导出宝宝数据</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" icon="search" @click="handleAdd">添加宝宝</el-button>
        <el-button type="primary" @click="handleImport">导入宝宝数据</el-button>
        <el-button type="primary" @click="handleDownload">下载宝宝模板</el-button>
      </div>
      <el-table
        :data="tableData"
        border
      >
        <el-table-column prop="id" label="ID" width="100"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" sortable width="200"></el-table-column>
        <el-table-column prop="name" label="姓名" width="100"></el-table-column>
        <el-table-column prop="idk" label="身份证号" width="220">
          <template slot-scope="scope">{{ scope.row.idk == null ? '无': scope.row.idk}}</template>
        </el-table-column>
        <el-table-column prop="sex" label="性别" width="100"></el-table-column>
        <el-table-column prop="startTime" label="入学时间" sortable width="200"></el-table-column>
        <el-table-column prop="className" label="所在班级" width="120"></el-table-column>
        <el-table-column prop="age" label="年龄" width="120"></el-table-column>
        <el-table-column prop="birthdayTime" label="生日" width="220">
          <template slot-scope="scope">{{ scope.row.birthdayTime == null ? '无': scope.row.birthdayTime}}</template>
        </el-table-column>
        <el-table-column prop="imagePath" label="照片" width="110">
          <template slot-scope="scope">
            <img :src="scope.row.imagePath" alt="" width="30px" height="30px" v-show="scope.row.imagePath">
            <span v-show="!scope.row.imagePath">无</span>
          </template>
        </el-table-column>
        <el-table-column prop="status" label="状态" width="100" align="center">
          <template slot-scope="scope">{{ scope.row.status === 0 ? '离校':'在校'}}</template>
        </el-table-column>
        <el-table-column prop="familyNum" label="家长数量" width="120"></el-table-column>
        <el-table-column label="操作" width="300" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              type="text"
              icon="el-icon-search"
              @click="handleCat(scope.$index, scope.row)"
            >查看家长</el-button>
             <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleBind(scope.$index, scope.row)"
            >绑定家长</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加宝宝 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="50%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="rules" :inline="true">
        <el-form-item label="姓名" prop="name">
          <el-input v-model="addform.name" placeholder="请输入姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="身份证" prop="idk">
          <el-input v-model="addform.idk" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="生日" required>
          <el-date-picker
            class="handle-input"
            value-format="yyyy-MM-dd"
            v-model="addform.birthday"
            type="date"
            placeholder="生日"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="入学时间" required>
          <el-date-picker
            class="handle-input"
            value-format="yyyy-MM-dd"
            v-model="addform.startSchoolTime"
            type="date"
            placeholder="入学时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="班级" prop="classId">
          <el-select v-model="addform.classId" filterable placeholder="选择班级" class="handle-input" @change="addChangeSelect">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in classListData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="性别" prop="sex" required>
          <el-radio v-model="addform.sex" label="男">男</el-radio>
          <el-radio v-model="addform.sex" label="女">女</el-radio>
        </el-form-item>
        <el-form-item label="宝宝照片" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="ImageSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="50%" @close="closeDialog('editform')">
      <el-form
        ref="editform"
        :model="editform"
        label-width="100px"
        :rules="rules"
        :inline="true"
      >
        <el-form-item label="姓名" prop="name">
          <el-input v-model="editform.name" placeholder="请输入姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="身份证" prop="idk">
          <el-input v-model="editform.idk" :disabled="true" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="生日" required>
          <el-date-picker
            class="handle-input"
            value-format="yyyy-MM-dd"
            v-model="editform.birthday"
            type="date"
            placeholder="生日"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="入学时间" required>
          <el-date-picker
            class="handle-input"
            value-format="yyyy-MM-dd"
            v-model="editform.startSchoolTime"
            type="date"
            placeholder="入学时间"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="班级" prop="classId">
          <el-select v-model="editform.classId" filterable placeholder="选择班级" class="handle-input" @change="editChangeSelect">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in classListData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="性别" prop="sex" required>
          <el-radio v-model="editform.sex" label="男">男</el-radio>
          <el-radio v-model="editform.sex" label="女">女</el-radio>
        </el-form-item>
        <el-form-item label="宝宝照片" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="ImageSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 查看家长 -->
    <el-dialog title="查看家长" :visible.sync="catVisible" width="86%">
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-lx-cascades crumbs-i-right"></i>当前宝宝信息
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="container table-search">
        <div>
          <el-form :model="baoform" ref="baoform" class="search-form" :inline="true">
            <el-form-item label="宝宝姓名">
              <el-input v-model="baoform.name" :disabled="true" placeholder="请输入姓名" class="handle-input"></el-input>
            </el-form-item>
            <el-form-item label="身份证">
              <el-input v-model="baoform.idk" :disabled="true" placeholder="请输入身份证" class="handle-input"></el-input>
            </el-form-item>
            <el-form-item label="所在班级">
              <el-input v-model="baoform.className" :disabled="true" placeholder="请输入班级" class="handle-input"></el-input>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="container container-table">
        <!-- <div class="handle-box">
          <el-select v-model="limitCat" placeholder="显示条数" class="handle-select" @change="changeLimitCat">
            <el-option key="1" label="每页10条" value="10"></el-option>
            <el-option key="2" label="每页20条" value="20"></el-option>
            <el-option key="3" label="每页30条" value="30"></el-option>
          </el-select>
        </div> -->
        <el-table
          :data="tableDataCat"
          border
        >
          <el-table-column prop="id" label="ID" width="80"></el-table-column>
          <el-table-column prop="name" label="姓名" width="100"></el-table-column>
          <el-table-column prop="idk" label="身份证号" width="200">
            <template slot-scope="scope">{{ scope.row.idk == null ? '无': scope.row.idk}}</template>
          </el-table-column>
          <el-table-column prop="phone" label="手机号" width="150">
            <template slot-scope="scope">{{ scope.row.phone == null ? '无': scope.row.phone}}</template>
          </el-table-column>
          <el-table-column prop="sex" label="性别" width="100"></el-table-column>
          <el-table-column prop="imagePath" label="照片" width="110">
            <template slot-scope="scope">
              <img :src="scope.row.imagePath" alt="" width="30px" height="30px" v-show="scope.row.imagePath">
              <span v-show="!scope.row.imagePath">无</span>
            </template>
          </el-table-column>
          <el-table-column prop="relationDescribe" label="所属关系" width="100" align="center"></el-table-column>
          <el-table-column prop="status" label="是否冻结" width="100" align="center">
            <template slot-scope="scope">{{ scope.row.status === 0 ? '冻结':'正常'}}</template>
          </el-table-column>
          <el-table-column prop="isBind" label="是否绑定掌静脉" width="150" align="center">
            <template slot-scope="scope">{{ scope.row.isBind === 0 ? '未绑定':'绑定'}}</template>
          </el-table-column>
          <el-table-column label="操作" width="100" align="center" fixed="right">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-edit"
                @click="handleDel(scope.$index, scope.row)"
              >解绑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- <div class="pagination">
          <el-pagination
            background
            @current-change="handleCurrentChangeCat"
            layout="prev, pager, next"
            :total="totalCat"
            :pageSize="limitPageCat"
            :current-page.sync="pageCat"
          ></el-pagination>
        </div> -->
      </div>
    </el-dialog>

    <!-- 绑定家长 -->
    <el-dialog title="绑定家长" :visible.sync="bindVisible" width="80%" @close="closeBindDialog('bindform')">
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-lx-cascades crumbs-i-right"></i>当前宝宝信息
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="container table-search">
        <div>
          <el-form :model="baoform" ref="baoform" class="search-form" :inline="true">
            <el-form-item label="宝宝姓名">
              <el-input v-model="baoform.name" :disabled="true" placeholder="请输入姓名" class="handle-input"></el-input>
            </el-form-item>
            <el-form-item label="身份证">
              <el-input v-model="baoform.idk" :disabled="true" placeholder="请输入身份证" class="handle-input"></el-input>
            </el-form-item>
            <el-form-item label="所在班级">
              <el-input v-model="baoform.className" :disabled="true" placeholder="请输入班级" class="handle-input"></el-input>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-search crumbs-i-right"></i>筛选查询
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="container table-search">
        <div>
          <el-form :model="bindform" ref="bindform" class="search-form" :inline="true">
            <el-form-item label="家长手机号" prop="parentName">
              <el-input v-model="bindform.parentName" placeholder="请输入家长手机号" class="handle-input"></el-input>
            </el-form-item>
            <el-button type="primary" @click="searchBind">查找</el-button>
            <el-button type="primary" @click="searchBindReset('bindform')">重置</el-button>
          </el-form>
        </div>
      </div>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="container container-table">
        <!-- <div class="handle-box">
          <el-select v-model="limitBind" placeholder="显示条数" class="handle-select" @change="changeLimitBind">
            <el-option key="1" label="每页10条" value="10"></el-option>
            <el-option key="2" label="每页20条" value="20"></el-option>
            <el-option key="3" label="每页30条" value="30"></el-option>
          </el-select>
        </div> -->
        <el-table
          :data="tableDataBind"
          border
        >
          <el-table-column prop="id" label="ID" width="80"></el-table-column>
          <el-table-column prop="name" label="姓名" width="100"></el-table-column>
          <el-table-column prop="idk" label="身份证号" width="200">
            <template slot-scope="scope">{{ scope.row.idk == null ? '无': scope.row.idk}}</template>
          </el-table-column>
          <el-table-column prop="phone" label="手机号" width="150">
            <template slot-scope="scope">{{ scope.row.phone == null ? '无': scope.row.phone}}</template>
          </el-table-column>
          <el-table-column prop="sex" label="性别" width="100"></el-table-column>
          <el-table-column prop="imagePath" label="照片" width="110">
            <template slot-scope="scope">
              <img :src="scope.row.imagePath" alt="" width="30px" height="30px" v-show="scope.row.imagePath">
              <span v-show="!scope.row.imagePath">无</span>
            </template>
          </el-table-column>
          <el-table-column prop="status" label="是否冻结" width="100" align="center">
            <template slot-scope="scope">{{ scope.row.status === 0 ? '冻结': '正常'}}</template>
          </el-table-column>
          <el-table-column prop="isBind" label="是否绑定掌静脉" width="150" align="center">
            <template slot-scope="scope">{{ scope.row.isBind === 0 ? '未绑定':'绑定'}}</template>
          </el-table-column>
          <el-table-column label="操作" width="100" align="center" fixed="right">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-edit"
                @click="bindRelation(scope.$index, scope.row)"
              >绑定</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- <div class="pagination">
          <el-pagination
            background
            @current-change="handleCurrentChangeBind"
            layout="prev, pager, next"
            :total="totalBind"
            :pageSize="limitPageBind"
            :current-page.sync="pageBind"
          ></el-pagination>
        </div> -->
      </div>
    </el-dialog>

    <!-- 解绑提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt">确定要进行此操作吗？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>

    <!-- 绑定提示框 -->
     <el-dialog title="绑定关系" :visible.sync="relationVisible" width="50%" @close="closeDialog('relationform')">
      <el-form
        ref="relationform"
        :model="relationform"
        label-width="100px"
        :rules="relationrules"
        :inline="true"
      >
        <el-form-item label="宝宝姓名">
          <el-input v-model="baoform.name" :disabled="true" placeholder="请输入姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="宝宝身份证">
          <el-input v-model="baoform.idk" :disabled="true" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="宝宝所在班级">
          <el-input v-model="baoform.className" :disabled="true" placeholder="请输入班级" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="家长姓名" prop="name">
          <el-input v-model="relationform.name" :disabled="true" placeholder="请输入姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="家长身份证" prop="idk">
          <el-input v-model="relationform.idk" :disabled="true" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="家长手机号" prop="phone">
          <el-input v-model="relationform.phone" :disabled="true" placeholder="请输入手机号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="所属关系" prop="relationId">
          <el-select v-model="relationform.relationId" placeholder="所属关系" class="handle-input" @change="relationChangeSelect">
            <el-option
              :key="index"
              :label="item.describe"
              :value="item.id"
              v-for="(item, index) in relationData"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="relationVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveRelation('relationform')">确 定</el-button>
      </span>
    </el-dialog>
   
    <!-- 导入宝宝数据 -->
    <el-dialog
      title="导入宝宝数据"
      :visible.sync="importVisible"
      width="40%"
    >
      <el-form ref="importform" label-width="100px">
        <el-form-item label="选取文件">
          <el-upload
            class="upload-demo"
            ref="upload"
            action=""
            :limit="1"
            :on-exceed="handleExceed"
            :on-remove="handleRemove"
            :http-request="upLoad"
            drag
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
          </el-upload>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    let regIdk = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
    let validateIdk = (rule, value, callback) => {
      if (!regIdk.test(value)) {
        callback(new Error('身份证号不合法'));
      } else {
        callback();
      }
    };
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        name: "",
        classId: 0
      },
      searchformEnd: {
        name: "",
        classId: 0
      },
      classListDataSearch: [],
      classListData: [],
      veinListData: [{
        id: 0,
        name: '全部'
      },{
        id: 1,
        name: '已绑定'
      },{
        id: 2,
        name: '未绑定'
      }],
      editVisible: false,
      addVisible: false,
      exportVisible: false,
      importVisible: false,
      addform: {
        name: "",
        classId: "",
        className: '',
        sex: "男",
        birthday: "",
        startSchoolTime: "",
        idk: ""
      },
      rules: {
        name: [{ required: true, message: "姓名不能为空", trigger: "blur" }],
        idk: [
          { validator: validateIdk, required: true,  trigger: "blur" }
        ],
        classId: [{ required: true, message: "请选择班级", trigger: "change" }],
        birthday: [{ required: true, message: "生日不能为空", trigger: "change" }],
        startSchoolTime: [{ required: true, message: "生日不能为空", trigger: "change" }]
      },
      imageUrl: '',
      editform: {
        name: "",
        classId: "",
        className: '',
        sex: "男",
        birthday: "",
        startSchoolTime: "",
        idk: ""
      },
      delVisible: false,
      rowId: 0,
      catVisible: false,
      tableDataCat: [],
      totalCat: 1,
      pageCat: 1,
      limitCat: "10",
      baoform: {
        name: '',
        idk: '',
        className: ''
      },
      tableDataBind: [],
      totalBind: 1,
      pageBind: 1,
      limitBind: "10",
      bindform: {
        parentName: ''
      },
      bindformEnd: {
        parentName: ''
      },
      bindVisible: false,
      relationData: [],
      relationform: {
        name: '',
        phone: '',
        idk: '',
        relationId: '',
        relationDescribe: ''
      },
      relationrules: {
        relationId: [{ required: true, message: "数据不能为空", trigger: "blur" }]
      },
      relationVisible: false
    };
  },
  computed: {
    ...mapGetters(["adminId", "companyId"]),
    limitPage() {
      return parseInt(this.limit);
    },
    limitPageCat() {
      return parseInt(this.limitCat);
    },
    limitPageBind() {
      return parseInt(this.limitBind);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
      this.classList();
      this.classListAll();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      this.page = 1;
      this.searchformEnd = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchformEnd = this.searchform;
    },
    submitData() {
      this.axios
        .post("/student/GetListByCompanyId.do", {
          page: this.page,
          limit: this.limit,
          companyId: this.companyId,
          name: this.searchformEnd.name,
          classId: this.searchformEnd.classId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    classListAll() {
      //班级下拉列表
      this.axios
        .post("/conmon/DropListAll.do", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) == 1) {
            this.classListDataSearch = result_data.data;
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    classList() {
      //班级下拉列表
      this.axios
        .post("/conmon/DropList.do", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) == 1) {
            this.classListData = result_data.data;
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    addChangeSelect (val) {
      let classListData = this.classListData;
      for(let i = 0; i <classListData.length; i++) {
        if (classListData[i].id === parseInt(val)) {
          this.addform.className = classListData[i].name
        }
      }
    },
    handleAdd() {
      this.addVisible = true;
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.imageUrl === '') {
            this.$message({
              message: '宝宝照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          this.axios
            .post("/student/InsertStudent.do", {
              name: this.addform.name,
              classId: this.addform.classId,
              className: this.addform.className,
              sex: this.addform.sex,
              birthday: this.addform.birthday,
              startSchoolTime: this.addform.startSchoolTime,
              imagePath: this.imageUrl,
              idk: this.addform.idk,
              createBy: this.adminId,
              companyId: this.companyId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEdit(index, row) {
      //编辑
      this.editform.className = row.className;
      this.editform.classId = row.classId;
      this.editform.sex = row.sex;
      this.editform.name = row.name;
      this.editform.birthday = row.birthdayTime;
      this.editform.startSchoolTime = row.startTime;
      this.imageUrl = row.imagePath;
      this.editform.idk = row.idk;
      this.rowId = row.id;
      this.editVisible = true;
    },
    editChangeSelect (val) {
      let classListData = this.classListData;
      for(let i = 0; i <classListData.length; i++) {
        if (classListData[i].id === parseInt(val)) {
          this.editform.className = classListData[i].name
        }
      }
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.imageUrl === '') {
            this.$message({
              message: '宝宝照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          this.axios
            .post("/student/UpdateStudent.do", {
              id: this.rowId,
              name: this.editform.name,
              classId: this.editform.classId,
              className: this.editform.className,
              sex: this.editform.sex,
              birthday: this.editform.birthday,
              startSchoolTime: this.editform.startSchoolTime,
              imagePath: this.imageUrl,
              idk: this.editform.idk,
              createBy: this.adminId,
              companyId: this.companyId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog(formName) {
      this.$refs[formName].resetFields();
      this.$refs[formName].clearValidate();
      this.imageUrl = '';
      this.addform.className = '';
      this.editform.className = '';
    },
    handleExport() {
      
      window.location.href =
        "/student/DownLoadExport.do?companyId=" +
        this.companyId +
        "&name=" +
        this.searchformEnd.name +
        "&classId=" +
        this.searchformEnd.classId +
        '&timeId=' + (new Date()).getTime();
    },
    upLoad (file) {
      let param = new FormData()  // 创建form对象
      param.append('file', file.file)  // 通过append向form对象添加数据
      param.append('createBy', this.adminId)
      param.append('companyId', this.companyId)
      this.axios
        .post("/student/Exportbaobao.do",param)
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.importVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
          this.$refs.upload.clearFiles();
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleImport() {
      this.importVisible = true;
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 1 个文件`);
    },
    handleDownload () {
      this.axios.post('/student/ExportTemplet.do', {
        companyId: this.companyId
      })
      .then((response) => {
          let result_data = response.data;
          window.location.href = result_data.path;
      })
      .catch(error => {
        this.$message({
          message: error.message,
          type: "error",
          duration: 1000
        });
      });
    },
    ImageSuccess(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.imageUrl = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg" || "image/png";
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 或者PNG格式!");
      }
      return isJPG
    },
    handleCat (index, row) {
      this.rowId = row.id;
      this.baoform.name = row.name;
      this.baoform.idk = row.idk;
      this.baoform.className = row.className;
      this.catVisible = true;
      this.submitDataCat();
    },
    // 分页导航
    handleCurrentChangeCat(val) {
      this.pageCat = val;
      this.submitDataCat();
    },
    changeLimitCat() {
      //改变页数
      this.pageCat = 1;
      this.submitDataCat();
    },
    submitDataCat() {
      this.axios
        .post("/student/GetMyFamily.do", {
          page: this.pageCat,
          limit: this.limitCat,
          companyId: this.companyId,
          id: this.rowId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableDataCat = result_data.data;
            this.totalCat = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleDel(index, row) {
      this.parentId = row.id;
      this.delVisible = true;
    },
    deleteRow() {
      this.axios
        .post("/student/Removerelation.do", {
          id: this.parentId,
          createBy: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitDataCat();
              this.submitData();
            }, 50);
            this.delVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    closeBindDialog(formName) {
      this.$refs[formName].resetFields();
      this.bindformEnd = this.bindform;
      this.tableDataBind = [];
    },
    handleBind (index, row) {
      this.rowId = row.id;
      this.baoform.name = row.name;
      this.baoform.idk = row.idk;
      this.baoform.className = row.className;
      this.bindVisible = true;
    },
    // 分页导航
    handleCurrentChangeBind(val) {
      this.pageBind = val;
      if (this.bindformEnd.parentName !== '') {
        this.submitDataBind();
      }
    },
    changeLimitBind() {
      //改变页数
      this.pageBind = 1;
      if (this.bindformEnd.parentName !== '') {
        this.submitDataBind();
      }
    },
    searchBind () {
      this.pageBind = 1;
      this.bindformEnd = this.bindform;
      if (this.bindformEnd.parentName !== '') {
        this.submitDataBind();
      }
    },
    searchBindReset (formName) {
      this.$refs[formName].resetFields();
      this.tableDataBind = [];
      this.bindformEnd = this.bindform;
    },
    submitDataBind() {
      this.axios
        .post("/family/GetListKidFamily.do", {
          page: this.pageBind,
          limit: this.limitBind,
          companyId: this.companyId,
          id: this.rowId,
          parentName: this.bindformEnd.parentName
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableDataBind = result_data.data;
            this.totalBind = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },    
    bindRelation (index, row) {
      this.familyId = row.id;
      this.relationVisible = true;
      this.relationform.phone = row.phone;
      this.relationform.name = row.name;
      this.relationform.idk = row.idk
      this.relationList();
    },
    saveRelation (formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.submintRelation();
        }
      });
    },
    submintRelation() {
      this.axios
        .post("/student/Addrelation.do", {
          id: this.parentId,
          createBy: this.adminId,
          familyId: this.familyId,
          relationId: this.relationform.relationId,
          relationDescribe: this.relationform.relationDescribe,
          studentId: this.rowId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            this.bindform.parentName = ''
            this.relationVisible = false;
            this.bindVisible = false;
            setTimeout(() => {
              this.submitData();
            }, 50);
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    relationChangeSelect (val) {
      let relationData = this.relationData;
      for(let i = 0; i <relationData.length; i++) {
        if (relationData[i].id === parseInt(val)) {
          this.relationform.relationDescribe = relationData[i].describe
        }
      }
    },
    relationList() {
      //班级下拉列表
      this.axios
        .post("/conmon/GetRelation.do", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) == 1) {
            this.relationData = result_data.data;
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.container-table {
  min-height: 440px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 360px;
  height: 180px;
  line-height: 180px;
  text-align: center;
}
.avatar {
  width: 360px;
  height: 180px;
  display: block;
}
</style>
