<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="姓名" prop="name">
            <el-input v-model="searchform.name" placeholder="请输入姓名" class="handle-input" @blur="search"></el-input>
          </el-form-item>
          <el-form-item label="班级" prop="classId">
            <el-select v-model="searchform.classId" filterable placeholder="选择班级" class="handle-input" @change="search">
              <el-option
                :key="index"
                :label="item.name"
                :value="item.id"
                v-for="(item, index) in classListDataSearch"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="是否绑定掌静脉" prop="isVein">
            <el-select v-model="searchform.isVein" placeholder="请选择" class="handle-input" @change="search">
              <el-option
                :key="index"
                :label="item.name"
                :value="item.id"
                v-for="(item, index) in veinListData"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-button type="primary" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" icon="search" @click="handleAdd">添加人员</el-button>
      </div>
      <el-table
        :data="tableData"
        border
      >
        <el-table-column prop="id" label="ID" width="100"></el-table-column>
        <el-table-column prop="name" label="姓名" width="100"></el-table-column>
        <el-table-column prop="positionName" label="职位" width="100">
          <template slot-scope="scope">{{ scope.row.positionName == '' ? '无': scope.row.positionName}}</template>
        </el-table-column>
        <el-table-column prop="idCard" label="身份证号" width="220">
          <template slot-scope="scope">{{ scope.row.idCard == null ? '无': scope.row.idCard}}</template>
        </el-table-column>
        <el-table-column prop="account" label="手机号" width="200">
          <template slot-scope="scope">{{ scope.row.account == '' ? '无': scope.row.account}}</template>
        </el-table-column>
        <el-table-column prop="imgPath" label="照片" width="110">
          <template slot-scope="scope">
            <img :src="scope.row.imgPath" alt="" width="30px" height="30px" v-show="scope.row.imgPath">
            <span v-show="!scope.row.imgPath">无</span>
          </template>
        </el-table-column>
        <el-table-column prop="birthday" label="生日" width="220">
          <template slot-scope="scope">{{ scope.row.birthday == null ? '无': scope.row.birthday}}</template>
        </el-table-column>
        <el-table-column prop="sex" label="性别" width="100">
        </el-table-column>
        <el-table-column prop="veinId" label="是否绑定掌静脉" width="250">
          <template slot-scope="scope">{{ scope.row.veinId === 0 ? '未绑定':'绑定'}}</template>
        </el-table-column>
        <el-table-column prop="status" label="是否冻结" width="100" align="center">
          <template slot-scope="scope">{{ scope.row.status === 0 ? '冻结':'正常'}}</template>
        </el-table-column>
        <el-table-column prop="classNames" label="负责班级" width="120"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" sortable width="200"></el-table-column>
        <el-table-column label="操作" width="200" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleStatus(scope.$index, scope.row)"
              v-show="scope.row.status === 0 && scope.row.type === 0"
            >激活</el-button>
            <el-button
              type="text"
              class="red"
              icon="el-icon-edit"
              @click="handleStatus(scope.$index, scope.row)"
              v-show="scope.row.status === 1 && scope.row.type === 0"
            >冻结</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加员工 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="50%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="rules" :inline="true">
        <el-form-item label="姓名" prop="name">
          <el-input v-model="addform.name" placeholder="请输入姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="身份证" prop="idCard">
          <el-input v-model="addform.idCard" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="account">
          <el-input v-model="addform.account" placeholder="请输入手机号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="sex" required>
          <el-radio v-model="addform.sex" label="男">男</el-radio>
          <el-radio v-model="addform.sex" label="女">女</el-radio>
        </el-form-item>
        <el-form-item label="选择职位" prop="positionId">
          <el-select v-model="addform.positionId" filterable placeholder="请选择职位" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in roleData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="班级" prop="classId">
          <el-select v-model="addform.classId" multiple filterable placeholder="选择班级" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in classListData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="生日" required>
          <el-date-picker
            class="handle-input"
            value-format="yyyy-MM-dd"
            v-model="addform.birthday"
            type="date"
            placeholder="生日"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="员工照片" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="ImageSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="50%" @close="closeDialog('editform')">
      <el-form
        ref="editform"
        :model="editform"
        label-width="100px"
        :rules="rules"
        :inline="true"
      >
        <el-form-item label="姓名" prop="name">
          <el-input v-model="editform.name" placeholder="请输入姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="身份证" prop="idCard">
          <el-input v-model="editform.idCard" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="account">
          <el-input v-model="editform.account" placeholder="请输入手机号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="sex" required>
          <el-radio v-model="editform.sex" label="男">男</el-radio>
          <el-radio v-model="editform.sex" label="女">女</el-radio>
        </el-form-item>
        <el-form-item label="请选择职位" prop="positionId">
          <el-select v-model="editform.positionId" filterable placeholder="请选择职位" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in roleData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="班级" prop="classId">
          <el-select v-model="editform.classId" multiple filterable placeholder="选择班级" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in classListData"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="生日" required>
          <el-date-picker
            class="handle-input"
            value-format="yyyy-MM-dd"
            v-model="editform.birthday"
            type="date"
            placeholder="生日"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="员工照片" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="ImageSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 解冻提示框 -->
    <el-dialog title="员工状态" :visible.sync="statusVisible" width="30%" center>
      <el-form ref="statusform" :model="statusform" label-width="100px">
        <el-form-item label="员工状态">
          <el-radio v-model="statusform.status" :label="0">冻结</el-radio>
          <el-radio v-model="statusform.status" :label="1">激活</el-radio>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="statusVisible = false">取 消</el-button>
        <el-button type="primary" @click="editStatus">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt">确定要进行此操作吗？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  data() {
    let regIdk = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
    let validateIdk = (rule, value, callback) => {
      if (!regIdk.test(value)) {
        callback(new Error('身份证号不合法'));
      } else {
        callback();
      }
    };
    let regPhone = /^1\d{10}$/;
    let validatePhone = (rule, value, callback) => {
      if (!regPhone.test(value)) {
        callback(new Error('手机号码不合法'));
      } else {
        callback();
      }
    };
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        name: "",
        classId: 0,
        isVein: 0
      },
      searchformEnd: {
        name: "",
        classId: 0,
        isVein: 0
      },
      roleData: [],
      classListData: [],
      classListDataSearch: [],
      veinListData: [{
        id: 0,
        name: '全部'
      },{
        id: 1,
        name: '已绑定'
      },{
        id: 2,
        name: '未绑定'
      }],
      editVisible: false,
      addVisible: false,
      exportVisible: false,
      importVisible: false,
      imageUrl: '',
      addform: {
        name: "",
        classId: [],
        sex: "男",
        account: "",
        birthday: "",
        positionId: "",
        imgPath: "",
        idCard: ""
      },
      editform: {
        name: "",
        classId: [],
        sex: "",
        account: "",
        birthday: "",
        positionId: "",
        imgPath: "",
        idCard: ""
      },
      rules: {
        name: [{ required: true, message: "姓名不能为空", trigger: "blur" }],
        idCard: [
          { validator: validateIdk, required: true,  trigger: "blur" }
        ],
        account: [
          { validator: validatePhone, required: true,  trigger: "blur" }
        ],
        positionId: [{ required: true, message: "请选择职位", trigger: "change" }],
        classId: [{ required: true, message: "请选择班级", trigger: "change" }]
      },
      delVisible: false,
      rowId: 0,
      statusVisible: false,
      statusform: {
        status: 1
      }
    };
  },
  computed: {
    ...mapGetters(["adminId", "companyId"]),
    limitPage() {
      return parseInt(this.limit);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
      this.classListAll();
      this.roleList();
      this.classList();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.submitData();
    },
    search() {
      //查询
      this.page = 1;
      this.searchformEnd = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchformEnd = this.searchform;
    },
    submitData() {
      this.axios
        .post("/employee/SelectAll.do", {
          page: this.page,
          limit: this.limit,
          companyId: this.companyId,
          name: this.searchformEnd.name,
          classId: this.searchformEnd.classId,
          isVein: this.searchformEnd.isVein,
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    classListAll() {
      //班级下拉列表
      this.axios
        .post("/conmon/DropListAll.do", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) == 1) {
            this.classListDataSearch = result_data.data;
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    classList() {
      //班级下拉列表
      this.axios
        .post("/conmon/DropList.do", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) == 1) {
            this.classListData = result_data.data;
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    roleList() {
      //职位下拉
      this.axios
        .post("/position/SelectTree.do", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          this.roleData = result_data;
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleAdd() {
      this.addVisible = true;
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.imageUrl === '') {
            this.$message({
              message: '照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          let classId = '';
          if (this.addform.classId.length < 1) {
            this.$message({
              message: '请选择班级',
              type: "error",
              duration: 1000
            });
            return false
          } else if (this.addform.classId.length === 1) {
            classId = this.addform.classId[0]
          } else {
            classId = this.addform.classId.join(',')
          }
          this.axios
            .post("/employee/Insert.do", {
              name: this.addform.name,
              classId: classId,
              sex: this.addform.sex,
              account: this.addform.account,
              birthday: this.addform.birthday,
              positionId: this.addform.positionId,
              imgPath: this.imageUrl,
              idCard: this.addform.idCard,
              employeeId: this.adminId,
              companyId: this.companyId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEdit(index, row) {
      //编辑
      this.editform.classId = [];
      if (row.classIds.search(/\,/g) !== -1) {
        let classIds = row.classIds.split(',');
        for (let i = 0; i < classIds.length; i++) {
          this.editform.classId.push(Number(classIds[i]))
        }
      } else {
        if (row.classIds !== '') {
          this.editform.classId.push(Number(row.classIds))
        }
      }
      // console.log(this.editform.classId)
      this.editform.sex = row.sex || '男';
      this.editform.name = row.name;
      this.editform.account = row.account;
      this.editform.birthday = row.birthday || '';
      this.editform.positionId = row.positionId || '';
      this.imageUrl = row.imgPath;
      this.editform.idCard = row.idCard;
      this.rowId = row.id;
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.imageUrl === '') {
            this.$message({
              message: '照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          let classId = '';
          if (this.editform.classId.length < 1) {
            this.$message({
              message: '请选择班级',
              type: "error",
              duration: 1000
            });
            return
          } else if (this.editform.classId.length === 1) {
            classId = this.editform.classId[0]
          } else {
            classId = this.editform.classId.join(',')
          }
          this.axios
            .post("/employee/Update.do", {
              id: this.rowId,
              name: this.editform.name,
              classId: classId,
              sex: this.editform.sex,
              account: this.editform.account,
              birthday: this.editform.birthday,
              positionId: this.editform.positionId,
              imgPath: this.imageUrl,
              idCard: this.editform.idCard,
              employeeId: this.adminId,
              companyId: this.companyId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog(formName) {
      this.$refs[formName].resetFields();
      this.$refs[formName].clearValidate();
      this.imageUrl = '';
    },
    handleStatus (index, row) {
      this.rowId = row.id;
      this.statusform.status = row.status
      this.statusVisible = true;
    },
    editStatus () {
      this.handleDel();
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      this.axios
        .post("/employee/CongealById.do", {
          id: this.rowId,
          employeeId: this.adminId,
          status: this.statusform.status
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.delVisible = false;
            this.statusVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    ImageSuccess(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.imageUrl = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg" || "image/png";
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 或者PNG格式!");
      }
      return isJPG;
    },
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.container-table {
  min-height: 440px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 360px;
  height: 180px;
  line-height: 180px;
  text-align: center;
}
.avatar {
  width: 360px;
  height: 180px;
  display: block;
}
</style>
