<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="家长手机号" prop="parentName">
            <el-input v-model="searchform.parentName" placeholder="请输入家长手机号" 
            class="handle-input"
            ></el-input>
          </el-form-item>
          <el-form-item label="绑定掌静脉" prop="type">
            <el-select v-model="searchform.type" placeholder="请选择" class="handle-input">
              <el-option
                :key="index"
                :label="item.name"
                :value="item.id"
                v-for="(item, index) in veinListData"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-button type="primary" icon="search" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
          <el-button type="primary" icon="search" @click="handleExport">导出家长数据</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" icon="search" @click="handleAdd">添加家长</el-button>
        <el-button type="primary" @click="handleImport">导入家长数据</el-button>
        <el-button type="primary" @click="handleDownload">下载家长模板</el-button>
      </div>
      <el-table
        :data="tableData"
        border
      >
        <el-table-column prop="id" label="ID" width="80"></el-table-column>
        <el-table-column prop="name" label="姓名" width="100"></el-table-column>
        <el-table-column prop="idk" label="身份证号" width="200">
          <template slot-scope="scope">{{ scope.row.idk == null ? '无': scope.row.idk}}</template>
        </el-table-column>
        <el-table-column prop="phone" label="手机号" width="150">
          <template slot-scope="scope">{{ scope.row.phone == null ? '无': scope.row.phone}}</template>
        </el-table-column>
        <el-table-column prop="sex" label="性别" width="100"></el-table-column>
        <el-table-column prop="imagePath" label="照片" width="110">
          <template slot-scope="scope">
            <img :src="scope.row.imagePath" alt="" width="30px" height="30px" v-show="scope.row.imagePath">
            <span v-show="!scope.row.imagePath">无</span>
          </template>
        </el-table-column>
        <el-table-column prop="status" label="是否激活" width="100" align="center">
          <template slot-scope="scope">{{ scope.row.status === 1 ? '正常':'冻结'}}</template>
        </el-table-column>
        <el-table-column prop="isBind" label="绑定掌静脉状态" width="150" align="center">
          <template slot-scope="scope">{{ scope.row.isBind === 1 ? '绑定':'未绑定'}}</template>
        </el-table-column>
        <el-table-column prop="kidNum" label="宝宝数量" width="100" align="center"></el-table-column>
        <el-table-column label="操作" width="300" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleStatus(scope.$index, scope.row)"
              v-show="scope.row.status === 0"
            >激活</el-button>
            <el-button
              type="text"
              class="red"
              icon="el-icon-edit"
              @click="handleStatus(scope.$index, scope.row)"
              v-show="scope.row.status === 1"
            >冻结</el-button>
            <el-button
              type="text"
              icon="el-icon-search"
              @click="handleCat(scope.$index, scope.row)"
            >查看宝宝</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加家长 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="50%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="rules" :inline="true">
        <el-form-item label="姓名" prop="name">
          <el-input v-model="addform.name" placeholder="请输入家长姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="身份证" prop="idk">
          <el-input v-model="addform.idk" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="addform.phone" placeholder="请输入手机号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="sex" required>
          <el-radio v-model="addform.sex" label="男">男</el-radio>
          <el-radio v-model="addform.sex" label="女">女</el-radio>
        </el-form-item>
        <el-form-item label="家长照片" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="imageSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="50%" @close="closeDialog('editform')">
      <el-form
        ref="editform"
        :model="editform"
        label-width="100px"
        :rules="rules"
        :inline="true"
      >
        <el-form-item label="姓名" prop="name">
          <el-input v-model="editform.name" placeholder="请输入姓名" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="身份证" prop="idk">
          <el-input v-model="editform.idk" placeholder="请输入身份证" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="editform.phone" :disabled="true" placeholder="请输入手机号" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="sex" required>
          <el-radio v-model="editform.sex" label="男">男</el-radio>
          <el-radio v-model="editform.sex" label="女">女</el-radio>
        </el-form-item>
        <el-form-item label="家长照片" required>
          <el-upload
            class="avatar-uploader"
            action="/conmon/Upload.do"
            :show-file-list="false"
            :on-success="imageSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 查看宝宝 -->
    <el-dialog title="查看宝宝" :visible.sync="catVisible" width="80%" center>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-search crumbs-i-right"></i>当前家长数据
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="container table-search">
        <div>
          <el-form :model="baoform" ref="baoform" class="search-form" :inline="true">
            <el-form-item label="家长姓名">
              <el-input v-model="baoform.name" :disabled="true" placeholder="请输入姓名" class="handle-input"></el-input>
            </el-form-item>
            <el-form-item label="身份证">
              <el-input v-model="baoform.idk" :disabled="true" placeholder="请输入身份证" class="handle-input"></el-input>
            </el-form-item>
            <el-form-item label="手机号">
              <el-input v-model="baoform.phone" :disabled="true" placeholder="请输入手机号" class="handle-input"></el-input>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="container container-table">
        <el-table
          :data="tableDataBao"
          border
        >
          <el-table-column prop="id" label="ID" width="100"></el-table-column>
          <el-table-column prop="name" label="姓名" width="100"></el-table-column>
          <el-table-column prop="idk" label="身份证号" width="220">
            <template slot-scope="scope">{{ scope.row.idk == null ? '无': scope.row.idk}}</template>
          </el-table-column>
          <el-table-column prop="sex" label="性别" width="100"></el-table-column>
          <el-table-column prop="startTime" label="入学时间" sortable width="200"></el-table-column>
          <el-table-column prop="className" label="所在班级" width="120"></el-table-column>
          <el-table-column prop="age" label="年龄" width="120"></el-table-column>
          <el-table-column prop="birthdayTime" label="生日" width="220">
            <template slot-scope="scope">{{ scope.row.birthdayTime == null ? '无': scope.row.birthdayTime}}</template>
          </el-table-column>
          <el-table-column prop="imagePath" label="照片" width="110">
            <template slot-scope="scope">
              <img :src="scope.row.imagePath" alt="" width="30px" height="30px" v-show="scope.row.imagePath">
              <span v-show="!scope.row.imagePath">无</span>
            </template>
          </el-table-column>
          <el-table-column prop="status" label="状态" width="100" align="center">
            <template slot-scope="scope">{{ scope.row.status === 0 ? '离校':'在校'}}</template>
          </el-table-column>
          <el-table-column prop="relationDescribe" label="所属关系" width="100" align="center"></el-table-column>
        </el-table>
      </div>
    </el-dialog>
    <!-- 解冻提示框 -->
    <el-dialog title="操作家长状态" :visible.sync="statusVisible" width="30%">
      <el-form ref="statusform" :model="statusform" label-width="100px">
        <el-form-item label="家长状态">
          <el-radio v-model="statusform.status" :label="0">冻结</el-radio>
          <el-radio v-model="statusform.status" :label="1">激活</el-radio>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="statusVisible = false">取 消</el-button>
        <el-button type="primary" @click="editStatus">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt">确定要进行此操作吗？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
   
    <!-- 导入白名单 -->
    <el-dialog
      title="导入家长数据"
      :visible.sync="importVisible"
      width="40%"
    >
      <el-form ref="importform" label-width="100px">
        <el-form-item label="选取文件">
          <el-upload
            class="upload-demo"
            ref="upload"
            action=""
            :limit="1"
            :on-exceed="handleExceed"
            :on-remove="handleRemove"
            :http-request="upLoad"
            drag
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
          </el-upload>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    let regIdk = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
    let validateIdk = (rule, value, callback) => {
      if (!regIdk.test(value)) {
        callback(new Error('身份证号不合法'));
      } else {
        callback();
      }
    };
    let regPhone = /^1\d{10}$/;
    let validatePhone = (rule, value, callback) => {
      if (!regPhone.test(value)) {
        callback(new Error('手机号码不合法'));
      } else {
        callback();
      }
    };
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        parentName: "",
        type: 2,
        studentName: ""
      },
      searchformEnd: {
        parentName: "",
        type: 2,
        studentName: ""
      },
      veinListData: [{
        id: 2,
        name: '全部'
      },{
        id: 1,
        name: '已绑定'
      },{
        id: 0,
        name: '未绑定'
      }],
      editVisible: false,
      addVisible: false,
      exportVisible: false,
      importVisible: false,
      addform: {
        name: "",
        sex: "男",
        phone: "",
        idk: ""
      },
      rules: {
        name: [{ required: true, message: "姓名不能为空", trigger: "blur" }],
        idk: [
          { validator: validateIdk, required: true,  trigger: "blur" }
        ],
        classId: [{ required: true, message: "请选择班级", trigger: "change" }],
        phone: [{ validator: validatePhone, required: true,  trigger: "blur" }]
      },
      imageUrl: '',
      roleData: [],
      editform: {
        name: "",
        sex: "男",
        phone: "",
        idk: ""
      },
      delVisible: false,
      rowId: 0,
      catVisible: false,
      statusVisible: false,
      statusform: {
        status: 1
      },
      baoform: {
        name: '',
        idk: '',
        phone: ''
      },
      tableDataBao: []
    };
  },
  computed: {
    ...mapGetters(["adminId", "companyId"]),
    limitPage() {
      return parseInt(this.limit);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      this.page = 1;
      this.searchformEnd = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchformEnd = this.searchform;
    },
    submitData() {
      this.axios
        .post("/family/GetListKidFamily.do", {
          page: this.page,
          limit: this.limit,
          companyId: this.companyId,
          parentName: this.searchformEnd.parentName,
          type: this.searchformEnd.type
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleAdd() {
      this.addVisible = true;
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.imageUrl === '') {
            this.$message({
              message: '照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          this.axios
            .post("/family/AddKidFamily.do", {
              name: this.addform.name,
              sex: this.addform.sex,
              idk: this.addform.idk,
              phone: this.addform.phone,
              createBy: this.adminId,
              companyId: this.companyId,
              imagePath: this.imageUrl
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEdit(index, row) {
      //编辑
      this.editform.sex = row.sex;
      this.editform.name = row.name;
      this.editform.phone = row.phone;
      this.imageUrl = row.imagePath;
      this.editform.idk = row.idk;
      this.rowId = row.id;
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.imageUrl === '') {
            this.$message({
              message: '照片不能为空',
              type: "warning",
              duration: 1000
            });
            return false
          }
          this.axios
            .post("/family/UpdateKidFamily.do", {
              id: this.rowId,
              name: this.editform.name,
              sex: this.editform.sex,
              imagePath: this.imageUrl,
              idk: this.editform.idk,
              phone: this.editform.phone,
              createBy: this.adminId,
              companyId: this.companyId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog(formName) {
      this.$refs[formName].resetFields();
      this.$refs[formName].clearValidate();
      this.imageUrl = '';
    },
    handleCat (index, row) {
      this.rowId = row.id;
      this.baoform.name = row.name;
      this.baoform.phone = row.phone;
      this.baoform.idk = row.idk;
      this.catVisible = true;
      this.submitDataCat()
    },
    submitDataCat() {
      this.axios
        .post("/family/GetStudentInfo.do", {
          page: 1,
          limit: 10,
          companyId: this.companyId,
          id: this.rowId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableDataBao = result_data.data;
            this.totalCat = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleStatus (index, row) {
      this.rowId = row.id;
      this.statusform.status = row.status
      this.statusVisible = true;
    },
    editStatus () {
      this.handleDel();
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      this.axios
        .post("/family/UpdateStatus.do", {
          id: this.rowId,
          createBy: this.adminId,
          status: this.statusform.status
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.delVisible = false;
            this.statusVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleExport() {
      window.location.href =
        "/family/DownLoadExport.do?companyId=" +
        this.companyId +
        "&parentName=" +
        this.searchformEnd.parentName +
        "&studentName=" +
        this.searchformEnd.studentName +
        "&type=" +
        this.searchformEnd.type +
        '&timeId=' + (new Date()).getTime();
    },
    upLoad (file) {
      let param = new FormData()  // 创建form对象
      param.append('file', file.file)  // 通过append向form对象添加数据
      param.append('createBy', this.adminId)
      param.append('companyId', this.companyId)
      this.axios
        .post("/family/Exportjiazhang.do",param)
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.importVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
          this.$refs.upload.clearFiles();
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleImport() {
      this.importVisible = true;
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 1 个文件`);
    },
    handleDownload () {
      this.axios.post('/family/ExportTemplet.do', {
        companyId: this.companyId
      })
      .then((response) => {
          let result_data = response.data;
          window.location.href = result_data.path;
      })
      .catch(error => {
        this.$message({
          message: error.message,
          type: "error",
          duration: 1000
        });
      });
    },
    imageSuccess(response, file, fileList) {
      let result_data = response;
      if (parseInt(result_data.status) === 1) {
        this.imageUrl = result_data.path;
        this.$message({
          message: result_data.msg,
          type: "success",
          duration: 1000
        });
      } else {
        this.$message({
          message: result_data.msg,
          type: "error",
          duration: 1000
        });
      }
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg" || "image/png";
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 或者PNG格式!");
      }
      return isJPG;
    },
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.container-table {
  min-height: 440px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 360px;
  height: 180px;
  line-height: 180px;
  text-align: center;
}
.avatar {
  width: 360px;
  height: 180px;
  display: block;
}
</style>
