<template>
  <div class="login-wrap">
    <div class="ms-login">
      <div class="ms-title">掌宝管理系统</div>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="0px" class="ms-content">
        <el-form-item prop="username">
          <el-input v-model="ruleForm.username" placeholder="请输入登录名">
            <el-button slot="prepend" icon="el-icon-lx-people"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            type="password"
            placeholder="请输入密码"
            v-model="ruleForm.password"
            @keyup.enter.native="submitForm('ruleForm')"
          >
            <el-button slot="prepend" icon="el-icon-lx-lock"></el-button>
          </el-input>
        </el-form-item>
        <div class="login-btn">
          <el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      ruleForm: {
        username: "",
        password: ""
      },
      rules: {
        username: [
          { required: true, message: "请输入登录名", trigger: "blur" }
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }]
      }
    };
  },
  created () {},
  methods: {
    goRegist() {
      this.$router.push('/regist')
    },
    forget () {
      this.$router.push('/forget')
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.submitData();
        }
      });
    },
    submitData() {
      this.axios
        .post("/login/GetLoginInfo.do", {
          account: this.ruleForm.username,
          pwd: this.ruleForm.password
        })
        .then(response => {
          let result_data = response.data;
          if (result_data.status) {
            let data = result_data.data;
            let save = {}
            save.id = data.id;
            save.companyName = data.companyName;
            save.companyId = data.companyId;
            save.name = data.name;
            save.phone = data.account;
            save.type = data.type;
            window.sessionStorage.setItem('ztkids', JSON.stringify(save))
            this.$router.push("/");
          } else {
            this.$message({
              message: result_data.msg,
              type: "error"
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error"
          });
        });
    }
  }
};
</script>

<style scoped>
.login-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(~@/assets/images/home_bg.png);
  background-size: 100% 100%;
}
.ms-title {
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ddd;
}
.ms-login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  margin: -190px 0 0 -175px;
  border-radius: 5px;
  background: #f5f7fa;
  overflow: hidden;
}
.ms-content {
  padding: 30px 30px;
}
.login-btn {
  text-align: center;
}
.login-btn button {
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
}
.login-tips {
  width: 100%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.login-tips span.login-tips-span {
  display: block;
  width: 30%;
  height: 30px;
  cursor: pointer;
}
.login-tips span.login-tips-span:nth-child(1) {
  float: left;
  color: #409eff;
}
.login-tips span.login-tips-span:nth-child(2) {
  float: right;
  text-align: right;
  color: #f56c6c;
}
</style>