<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="公告名称" prop="name">
            <el-input v-model="searchform.name" placeholder="请输入公告名称" class="handle-input"></el-input>
          </el-form-item>
          <el-form-item label="创建时间">
            <el-form-item prop="startTime">
              <el-date-picker
                v-model="searchform.startTime"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="开始时间"
              ></el-date-picker>
            </el-form-item>
            <el-form-item prop="endTime">
              <el-date-picker
                v-model="searchform.endTime"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="结束时间"
              ></el-date-picker>
            </el-form-item>
          </el-form-item>
          <el-button type="primary" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" icon="search" @click="handleAdd">添加公告</el-button>
      </div>
      <el-table
        :data="tableData"
        border
      >
        <el-table-column prop="id" label="ID"  width="100"></el-table-column>
        <el-table-column prop="title" label="公告名称" width="200"></el-table-column>
        <el-table-column prop="createByName" label="创建人" width="120"></el-table-column>
        <el-table-column prop="createTime" label="生成时间" sortable min-width="200"></el-table-column>
        <el-table-column label="操作" width="200" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-search"
              @click="handleCat(scope.$index, scope.row)"
            >预览</el-button>
            <el-button
              type="text"
              icon="el-icon-delete"
              class="red"
              @click="handleDel(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加活动 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="50%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="rules">
        <el-form-item label="公告名称" prop="name">
          <el-input type="textarea" :rows="2" resize="none" v-model="addform.name" placeholder="请输入公告名称" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="公告链接" prop="linkUrl">
          <el-input type="textarea" :rows="2" resize="none" v-model="addform.linkUrl" placeholder="请输入公告链接" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="公告内容">
          <quill-editor 
            v-model="content" 
            :options="editorOption"
            @change="onEditorChange($event)"
          ></quill-editor>
          <p><el-tag type="warning">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="40%" @close="closeDialog('editform')">
      <el-form ref="editform" :model="editform" label-width="100px"  :rules="rules">
        <el-form-item label="公告名称" prop="name">
          <el-input type="textarea" :rows="2" resize="none" v-model="editform.name" placeholder="请输入公告名称" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="公告内容">
          <quill-editor 
            v-model="content" 
            :options="editorOption"
            @change="onEditorChange($event)"
          ></quill-editor>
          <p><el-tag type="warning" :disable-transitions= "true">上传图片只能是 JPG 或者PNG格式!</el-tag></p>
          <p><el-tag type="warning" :disable-transitions= "true">上传图片大小不能超过 0.5MB!</el-tag></p>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 预览 -->
    <el-dialog title="预览" :visible.sync="catVisible" width="415px" @close="closeCatDialog">
      <div style="height:375px;overflow-y:auto;" v-html="content"></div>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import quillConfig from '../../assets/js/quill-config.js'

export default {
  data() {
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        name: "",
        startTime: "",
        endTime: ""
      },
      searchformEnd: {
        name: "",
        startTime: "",
        endTime: ""
      },
      editVisible: false,
      addVisible: false,
      addform: {
        name: "",
        linkUrl: ""
      },
      editform: {
        name: ""
      },
      rules: {
        name: [{ required: true, message: "公告名称不能为空", trigger: "blur" }],
      },
      delVisible: false,
      rowId: 0,
      content: '',
      editorOption: quillConfig,
      catVisible: false
    };
  },
  computed: {
    ...mapGetters([
      'adminId'
    ]),
    limitPage() {
      return parseInt(this.limit);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      if (this.searchform.endTime &&  this.searchform.startTime) {
        let start = Date.parse(new Date(this.searchform.startTime));
        let end = Date.parse(new Date(this.searchform.endTime));
        if (start >= end) {
          this.$message({
            message: '结束时间必须大于开始时间',
            type: "error",
            duration: 1000
          });
          return 
        }
      }
      this.page = 1;
      this.searchformEnd = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchformEnd = this.searchform;
    },
    submitData() {
      this.axios
        .post("/advertising/GetListAdvertising.do", {
          page: this.page,
          limit: this.limit,
          title: this.searchformEnd.name,
          startTime: this.searchformEnd.startTime,
          endTime: this.searchformEnd.endTime
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    onEditorChange({ editor, html, text }) {
      this.content = html;
    },
    handleAdd() {
      this.addVisible = true;
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/advertising/AddAdvertising.do", {
              title: this.addform.name,
              linkUrl: this.addform.linkUrl,
              introduction: this.content,
              createBy: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEdit(index, row) {
      //编辑
      this.editform.name = row.name
      this.content = row.introduction
      this.editform.status = row.status
      this.editform.linkUrl = row.linkUrl
      this.rowId = row.id;
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/proclamation/ReplaceProclamation.do", {
              id: this.rowId,
              createBy: this.adminId,
              title: this.editform.name,
              linkUrl: this.editform.linkUrl,
              introduction: this.content
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog (formName) {
      this.$refs[formName].resetFields();
      this.content = "";
    },
    closeCatDialog () {
      this.content = "";
    },
    changeStatus(row) {
      // 保存编辑
      this.axios
        .post("/proclamation/UpdateStatus.do", {
          id: row.id,
          status: row.status,
          adminId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
          this.submitData();
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleDel(index, row) {
      this.rowId = row.id;
      this.delVisible = true;
    },
    deleteRow() {
      this.axios
        .post("/advertising/RemoveAdvertising.do", {
          id: this.rowId,
          createBy: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.delVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleCat (index, row) {
      this.content = row.introduction;
      this.catVisible = true;
    },
  },
  components: {
    quillEditor
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.container-table {
  min-height: 440px;
}
</style>
