<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form ref="searchform" :model="searchform" class="search-form" :inline="true">
          <el-form-item label="职位名称" prop="name">
            <el-input v-model="searchform.name" placeholder="请输入职位名称" class="handle-input"></el-input>
          </el-form-item>
          <el-button type="primary" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" icon="search" @click="handleAdd">添加职位</el-button>
      </div>
      <el-table
        :data="tableData"
        border
        class="table"
      >
        <el-table-column prop="id" label="ID"  width="100"></el-table-column>
        <el-table-column prop="name" label="职位" width="200"></el-table-column>
        <el-table-column prop="createName" label="创建人" width="120"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" sortable min-width="200"></el-table-column>
        <el-table-column prop="isUse" label="是否启用" width="100" align="center">
          <template slot-scope="scope">
            <el-switch
              :active-value="1"
              :inactive-value="0"
              v-model="scope.row.isUse"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="changeStatus(scope.row)"
            ></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="250" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              type="text"
              icon="el-icon-delete"
              class="red"
              @click="handleDel(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加角色 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="40%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="rules">
        <el-form-item label="添加职位" prop="roleName">
          <el-input v-model="addform.roleName" placeholder="请添加职位" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="是否启用" prop="isUse" required>
          <el-radio v-model="addform.isUse" :label="1">是</el-radio>
          <el-radio v-model="addform.isUse" :label="0">否</el-radio>
        </el-form-item>
        <el-form-item label="权限菜单" required>
          <el-tree
            :data="TreeData"
            show-checkbox
            default-expand-all
            node-key="id"
            ref="addtree"
            highlight-current
            :props="defaultProps">
          </el-tree>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="40%" @close="closeDialog('editform')">
      <el-form ref="editform" :model="editform" label-width="100px"  :rules="rules">
        <el-form-item label="编辑职位" prop="roleName">
          <el-input v-model="editform.roleName" placeholder="请编辑职位" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="是否启用" prop="isUse" required>
          <el-radio v-model="editform.isUse" :label="1">是</el-radio>
          <el-radio v-model="editform.isUse" :label="0">否</el-radio>
        </el-form-item>
        <el-form-item label="权限菜单" required>
          <el-tree
            :data="TreeData"
            show-checkbox
            default-expand-all
            :default-checked-keys="checkedTreeData"
            node-key="id"
            ref="edittree"
            highlight-current
            :props="defaultProps">
          </el-tree>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        name: ""
      },
      searchformEnd: {
        name: ""
      },
      editVisible: false,
      addVisible: false,
      addform: {
        isUse: 1,
        roleName: "",
        powerId: ""
      },
      editform: {
        isUse: 1,
        roleName: "",
        powerId: ""
      },
      rules: {
        roleName: [{ required: true, message: "职位名称不能为空", trigger: "blur" }],
      },
      delVisible: false,
      rowId: 0,
      TreeData: [],
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      checkedTreeData: [],
      setVisible: false
    };
  },
  computed: {
    ...mapGetters([
      'adminId',
      'companyId'
    ]),
    limitPage() {
      return parseInt(this.limit);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
      this.goMenuList();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      this.page = 1;
      this.searchformEnd = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchformEnd = this.searchform;
    },
    submitData() {
      this.axios
        .post("/position/SelectAll.do", {
          companyId: this.companyId,
          page: this.page,
          limit: this.limit,
          name: this.searchformEnd.name
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    goMenuList () {
      this.axios
        .post("/power/SelectAll.do", {})
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.TreeData = result_data.data;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleAdd() {
      this.addVisible = true;
    },
    saveAdd(formName) {
      let powerId = this.$refs.addtree.getCheckedKeys();
      /*
      if (powerId[0] !== 1) {
        this.$message({
          message: '系统首页为必选项',
          type: "error",
          duration: 1000
        });
        return
      }
      */
      if (powerId.length > 0) {
        this.addform.powerId = powerId.join(',');
      } else {
        this.addform.powerId = ""
      }
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/position/Insert.do", {
              isUse: this.addform.isUse,
              name: this.addform.roleName,
              createBy: this.adminId,
              powerId: this.addform.powerId,
              companyId: this.companyId,
              employeeId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEdit(index, row) {
      //编辑
      let powerId = row.powerId.split(',');
      this.checkedTreeData = powerId
      this.editform.roleName = row.name
      this.editform.isUse = row.isUse
      this.editform.powerId = row.powerId
      this.rowId = row.id;
     
      this.editVisible = true;
    },
    saveEdit(formName) {
      let powerId = this.$refs.edittree.getCheckedKeys();
      /*
      if (powerId[0] !== 1) {
        this.$message({
          message: '系统首页为必选项',
          type: "error",
          duration: 1000
        });
        return
      }
      */
      if (powerId.length > 0) {
        this.editform.powerId = powerId.join(',');
      } else {
        this.editform.powerId = ""
      }
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/position/Update.do", {
              id: this.rowId,
              createBy: this.adminId,
              companyId: this.companyId,
              isUse: this.editform.isUse,
              name: this.editform.roleName,
              powerId: this.editform.powerId,
              employeeId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog (formName) {
      this.$refs[formName].resetFields();
    },
    changeStatus(row) {
      // 保存编辑
      this.axios
        .post("/position/UpdateUse.do", {
          id: row.id,
          isUse: row.isUse,
          employeeId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleDel(index, row) {
      this.rowId = row.id;
      this.delVisible = true;
    },
    deleteRow() {
      this.axios
        .post("/position/Delete.do", {
          id: this.rowId,
          employeeId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.delVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.el-tabs {
  min-height: 200px;
}
.el-tag + .el-tag {
  margin: 15px 10px 0px;
}
.container-table {
  min-height: 440px;
}
</style>
