<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
        <el-button type="primary" icon="search" @click="handleAdd">添加年级</el-button>
      </div>
      <el-table
        :data="tableData"
        border
        class="table-content"
      >
        <el-table-column prop="id" label="ID"  width="100"></el-table-column>
        <el-table-column prop="name" label="年级" width="200"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" sortable min-width="200"></el-table-column>
        <el-table-column prop="classCount" label="班级数量" width="200"></el-table-column>
        <el-table-column label="班级管理" width="150" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-search"
              @click="handleCat(scope.$index, scope.row)"
            >查看</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="200" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              type="text"
              icon="el-icon-delete"
              class="red"
              @click="handleDel(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :pageSize="limitPage"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>
    <!-- 添加年级 -->
    <el-dialog title="添加" :visible.sync="addVisible" width="40%" @close="closeDialog('addform')">
      <el-form ref="addform" :model="addform" label-width="100px" :rules="rules">
        <el-form-item label="年级名称" prop="name">
          <el-input v-model="addform.name" placeholder="请输入年级名称" class="handle-input"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveAdd('addform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="40%" @close="closeDialog('editform')">
      <el-form ref="editform" :model="editform" label-width="100px"  :rules="rules">
        <el-form-item label="职位名称" prop="name" required>
          <el-input v-model="editform.name" placeholder="请编辑职位名称" class="handle-input"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 班级管理 -->
    <el-dialog title="班级管理" :visible.sync="classVisible" width="80%">
      <div class="crumbs">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item>
            <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="container">
        <div class="handle-box">
          <el-select v-model="limitClass" placeholder="显示条数" class="handle-select" @change="changeLimitClass">
            <el-option key="1" label="每页10条" value="10"></el-option>
            <el-option key="2" label="每页20条" value="20"></el-option>
            <el-option key="3" label="每页30条" value="30"></el-option>
          </el-select>
          <el-button type="primary" icon="search" @click="handleAddClass">添加班级</el-button>
        </div>
        <el-table
          :data="tableDataClass"
          border
          class="table-content"
        >
          <el-table-column prop="id" label="ID"  width="100"></el-table-column>
          <el-table-column prop="name" label="班级" width="200"></el-table-column>
           <el-table-column prop="gradeName" label="所属年级" width="200"></el-table-column>
           <el-table-column prop="leaderName" label="班主任" width="200">
            <template slot-scope="scope">{{ scope.row.leaderId === 0 ? '无': scope.row.leaderName}}</template>
          </el-table-column>
          <el-table-column prop="createTime" label="创建时间" sortable min-width="200"></el-table-column>
          <el-table-column label="操作" width="200" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-edit"
                @click="handleEditClass(scope.$index, scope.row)"
              >编辑</el-button>
              <el-button
                type="text"
                icon="el-icon-delete"
                class="red"
                @click="handleDelClass(scope.$index, scope.row)"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination">
          <el-pagination
            background
            @current-change="handleCurrentChangeClass"
            layout="prev, pager, next"
            :total="totalClass"
            :pageSize="limitPageClass"
            :current-page.sync="pageClass"
          ></el-pagination>
        </div>
      </div>
    </el-dialog>
    <!-- 添加班级 -->
    <el-dialog title="添加" :visible.sync="addVisibleClass" width="40%" @close="closeDialog('addformClass')">
      <el-form ref="addformClass" :model="addformClass" label-width="100px" :rules="rulesClass">
        <el-form-item label="班级名称" prop="name">
          <el-input v-model="addformClass.name" placeholder="请输入名称" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="选择班主任" prop="leaderId">
          <el-select v-model="addformClass.leaderId" filterable placeholder="选择班主任" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in classListData"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisibleClass = false">取 消</el-button>
        <el-button type="primary" @click="saveAddClass('addformClass')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisibleClass" width="40%" @close="closeDialog('editformClass')">
      <el-form ref="editformClass" :model="editformClass" label-width="100px"  :rules="rulesClass">
        <el-form-item label="班级名称" prop="name" required>
          <el-input v-model="editformClass.name" placeholder="请编辑名称" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="选择班主任" prop="leaderId">
          <el-select v-model="editformClass.leaderId" filterable placeholder="选择班主任" class="handle-input">
            <el-option
              :key="index"
              :label="item.name"
              :value="item.id"
              v-for="(item, index) in classListData"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisibleClass = false">取 消</el-button>
        <el-button type="primary" @click="saveEditClass('editformClass')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisibleClass" width="30%" center>
      <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisibleClass = false">取 消</el-button>
        <el-button type="primary" @click="deleteRowClass">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      editVisible: false,
      addVisible: false,
      addform: {
        name: "",
      },
      editform: {
        name: "",
      },
      rules: {
        name: [{ required: true, message: "年级名称不能为空", trigger: "blur" }],
      },
      delVisible: false,
      rowId: 0,
      classVisible: false,
      tableDataClass: [],
      totalClass: 1,
      pageClass: 1,
      limitClass: "10",
      editVisibleClass: false,
      addVisibleClass: false,
      addformClass: {
        name: "",
        leaderId: ""
      },
      editformClass: {
        name: "",
        leaderId: ""
      },
      rulesClass: {
        name: [{ required: true, message: "班级名称不能为空", trigger: "blur" }],
      },
      delVisibleClass: false,
      rowIdClass: 0,
      gradeId: 0,
      classListData: [],
      nianform: {
        name: ""
      }
    };
  },
  computed: {
    ...mapGetters([
      'adminId',
      'companyId'
    ]),
    limitPage() {
      return parseInt(this.limit);
    },
    limitPageClass() {
      return parseInt(this.limitClass);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
    }
  },
  methods: {
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    submitData() {
      this.axios
        .post("/grade/SelectAll.do", {
          companyId: this.companyId,
          page: this.page,
          limit: this.limit
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleAdd() {
      this.addVisible = true;
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/grade/Insert.do", {
              name: this.addform.name,
              companyId: this.companyId,
              employeeId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.addVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEdit(index, row) {
      //编辑
      this.editform.name = row.name
      this.rowId = row.id;
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/grade/Update.do", {
              id: this.rowId,
              name: this.editform.name,
              employeeId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeDialog (formName) {
      this.$refs[formName].resetFields();
      this.$refs[formName].clearValidate();
    },
    handleDel(index, row) {
      this.rowId = row.id;
      this.delVisible = true;
    },
    deleteRow() {
      this.axios
        .post("/grade/Delete.do", {
          id: this.rowId,
          employeeId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.delVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleCat(index, row) {
      this.gradeId = row.id;
      this.nianform.name = row.name;
      this.classVisible = true;
      this.classList();
      this.submitDataClass()
    },
    // 班级分页导航
    handleCurrentChangeClass(val) {
      this.pageClass = val;
      this.submitDataClass();
    },
    changeLimitClass() {
      //改变页数
      this.page = 1;
      this.submitDataClass();
    },
    submitDataClass() {
      this.axios
        .post("/classSchool/SelectAll.do", {
          gradeId: this.gradeId,
          page: this.pageClass,
          limit: this.limitClass
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableDataClass = result_data.data;
            this.totalClass = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleAddClass() {
      this.addVisibleClass = true;
      
    },
    saveAddClass(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/classSchool/Insert.do", {
              name: this.addformClass.name,
              companyId: this.companyId,
              employeeId: this.adminId,
              gradeId: this.gradeId,
              leaderId: this.addformClass.leaderId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitDataClass();
                }, 50);
                this.addVisibleClass = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleEditClass(index, row) {
      //编辑
      this.editformClass.name = row.name
      this.rowIdClass = row.id;
      this.editformClass.leaderId = row.leaderId === 0 ? '' : row.leaderId;
      this.editVisibleClass = true;
    },
    saveEditClass(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/classSchool/Update.do", {
              id: this.rowIdClass,
              name: this.editformClass.name,
              employeeId: this.adminId,
              leaderId: this.editformClass.leaderId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitDataClass();
                }, 50);
                this.editVisibleClass = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    handleDelClass(index, row) {
      this.rowIdClass = row.id;
      this.delVisibleClass = true;
    },
    deleteRowClass() {
      this.axios
        .post("/classSchool/Delete.do", {
          id: this.rowIdClass,
          employeeId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitDataClass();
            }, 50);
            this.delVisibleClass = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    classList() {
      //班主任下拉列表
      this.axios
        .post("/employee/SelectAllEmp.do", {
          companyId: this.companyId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) == 1) {
            this.classListData = result_data.data;
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.el-tabs {
  min-height: 200px;
}
.el-tag + .el-tag {
  margin: 15px 10px 0px;
}
.container-table {
  min-height: 600px;
}
</style>
